/* ------ DOCUMENT FUNDAMENTALS ------ */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #1C1E1F
}

/* Font import */

@import url("https://use.typekit.net/hcr7xpm.css");

/* ------ TYPOGRAPHY ------ */

/* Font sizes */

h1 {
    font-size: 3rem;
    font-family: 'Halyard Text', sans-serif;
    font-weight: 400;
    line-height: 3.7rem;
    letter-spacing: 0rem;
    color: white;
}

h2 {
    font-size: 2rem;
    font-family: 'Halyard Text', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Halyard Text', sans-serif;
    font-weight: 300;
    color: white;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Halyard Text', sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    color: white;
}

p {
    font-size: 1rem;
    font-family: 'Halyard Text', sans-serif;
    font-weight: 300;
    letter-spacing: 2%;
    color: white;
}

#green_text {
    color: #5ABB7A;
}

/* ------ LINK BEHAVIOR ------ */

a {
    text-decoration: none;
}

/* ------ BUTTONS ------ */

/* Dowload buttons */

#download_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    animation: fadeScaleIn 2s ease-in-out;
}

/* Action button */

#action_button {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    padding: 0.4rem 1rem;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: #245334;
    color: #88E892;
    font-family: 'Halyard Text', sans-serif;
    font-size: 1rem;
    transition: 0.2s linear;
}

#action_button > #dropdown_arrow {
    transition: 0.2s linear;
}

#action_button:hover > #dropdown_arrow {
    transform: rotate(180deg);
    cursor: pointer;
}

#action_button:hover {
    cursor: pointer;
}

/* Button with icon */

#button_with_icon {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: white;
    color: #1E1E1E;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Halyard Text', sans-serif;
    letter-spacing: 2%;
    transition: 0.2s linear;
    
}

#button_with_icon:hover {
    transform: scale(105%);
    cursor: pointer;
    transition: 0.2s linear;
}

#button_with_icon:active {
    transform: scale(102%);
    opacity: 75%;
}


/* ------ NAVIGATION BAR ------ */

.navigation_menu_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 30px 50px;
    background-color: #1C1E1F;
    transition: 0.2s linear;
}

.navigation_menu_container.scrolled {
    padding: 10px 20px;
    background-color: #232627;
  }

#logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#navigation_elements {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

#navigation_elements > li {
    list-style-type: none;
    font-family: 'Halyard Text', sans-serif;
    font-size: 1rem;
    color: white;
    transition: 0.2s linear;
}

#navigation_elements > li:hover {
    cursor: pointer;
    color: #88E892;
    transform: scale(105%);
} 

#navigation_elements > li:active {
    transform: scale(102%);
}

/* ------ HERO BANNER ------ */

.hero_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#hero_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    animation: fadeScaleIn 2s ease-in-out;
}

#hero_text_container > h3 {
    margin-top: 1rem;
}

/* ------ FEATURE SECTION ------ */

.feature_section {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
}

#feature_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
}

/* ------ FOOTER ------ */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding-block: 7rem;
    background-color: #232627;
}

#logo_section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#logo_section > a > img {
    height: 3rem;
}
